<div id="main">
  <div class="subject easy">
    <a href="/size" class="level size complete">
      &#8596;
    </a>
    <a href="/levels/status/400" class="level status">
      OK
    </a>
  </div>
  <div class="subject medium">
  </div>
  <div class="subject hard">
  </div>
</div>
