<div id="main">
  <div class="subject easy">
    <%= link_to '&#8596;'.html_safe, size_level_url, {class: "level size complete"} %>
    <%= link_to 'OK', status_level_url, {class: "level status"} %>
    <%= link_to '&#8620;'.html_safe, move_level_url, {class: "level"} %>
  </div>
  <div class="subject medium">
  </div>
  <div class="subject hard">
  </div>
</div>
