<div id="main">
  <div id="menu_container">
    <h1>The Journey 2</h1>
    <p>Welcome. The Journey is a web-based puzzle. Your goal is to progress.</p>
    <div id="inputs">
      <input id="username" name="username" placeholder="Enter a username" /><button>Go</button>
    </div>
  </div>
</div>