<div class="too-large">
  <h1>Agoraphobia</h1>
  <p>This place is much too open and wide. Please make it smaller.</p>
</div>
<div class="just-right">
  <p>Thank you.</p>
  <a href="/">Click here to continue</a>
</div>
<div class="too-small">
  <h1>Claustophobia</h1>
  <p>This place is much too small and thin. Please make it larger.</p>
</div>