$header-size: 80px;

body {
  padding: $header-size 0;
}

header {

  position: fixed;
  width: 100%;
  top: 0;
  height: $header-size;
  box-sizing: border-box;
  padding-left: 10px;
  border-bottom: 5px solid white;
  background-color: black;

  .logo {
    text-decoration: none;
    color: white;
    width: 400px;
    font-size: 60px;
    font-weight: bold;
  }
}