$primary-bgd-color: black;
$primary-border-color: rgb(123, 123, 123);
$primary-text-color: white;

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: $primary-bgd-color;
  color: $primary-text-color;
  margin: 0;
}

.subject {
  margin: 10px;
  width: calc(100% - 20px);
  border: 1px solid $primary-border-color;
  min-height: 100px;

  .level {
    display: block;
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    margin: 5px;
    border: 1px solid $primary-border-color;
    transition: .2s all ease;

    &:hover {
      border-color: white;
      cursor: pointer;
    }
  }
}