// Place all the styles related to the levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Below 567px the screen is too small */
@media only screen and (max-width : 566px) {
  .too-large, .just-right {
    display: none;
  }
}

/* Below 567px the screen is too small */
@media only screen and (max-width : 567px) and (min-width : 567px) {
  .too-large, .too-small {
    display: none;
  }
}

/* Above 567px the screen is too small */
@media only screen and (min-width : 568px) {
  .too-small, .just-right {
    display: none;
  }
}

#the-box {
  width: 10%;
  height: 100px;
  background: white;
}

.moving {
  animation-duration: 60s;
  -webkit-animation-duration: 60s;
  animation-name: slideleft;
  -webkit-animation-name: slippery;
}

@keyframes slippery {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 50%;
  }
}

@-webkit-keyframes slippery {
  0% {
    margin-left: 0%;
  }

  10% {
    margin-left: 50%;
  }

  20% {
    margin-top: 20%;
    width: 9%;
    height: 90px;
  }

  30% {
    margin-left: 75%;
    margin-top: 0%;
  }

  40% {
    margin-left: 25%;
    margin-top: 5%;
  }

  50% {
    width: 4%;
    height: 40px;
  }

  60% {
    margin-left: 75%;
    margin-top: 20%;
  }

  70% {
    width: 10%;
    height: 100px;
  }

  75% {
    margin-left: 50%;
    margin-top: 0%;
  }

  80% {
    width: 5%;
    height: 50px;
  }

  85% {
    width: .5%;
    height: 5px;
  }

  90% {
    margin-left: 50%;
    margin-top: 0%;
    width: 10%;
    height: 100px;
  }
}
