/* Below 567px the screen is too small */
@media only screen and (max-width : 566px) {
  .too-large, .just-right {
    display: none;
  }
}

/* Below 567px the screen is too small */
@media only screen and (max-width : 567px) and (min-width : 567px) {
  .too-large, .too-small {
    display: none;
  }
}

/* Above 567px the screen is too small */
@media only screen and (min-width : 568px) {
  .too-small, .just-right {
    display: none;
  }
}